<form action="/figures" method="post">
  <h3>Name <input type="text" name="figure[name]"></h3>


  <h2>Titles</h2>
  <% @titles.each do |t| %>
    <label for="title"><%= t.name %></label>
    <input type="checkbox" name="figure[title_ids][]" value="<%= t.id %>"><br>
  <% end %>

  <h2>Create New Title:</h2>
  <input type="text" name="figure[title]">

  <h2>Landmarks</h2>

  <% @landmarks.each do |l| %>
    <label for="name"><%= l.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= l.id %>"><br>
  <% end %>

  <h2>Create New Landmarks</h2>

  Name: <input type="text" name="landmark[name]">  Year: <input type="number" name="landmark[year_completed]">
  <input type="submit" name="Create New Figure" value="Create New Figure">

</form>
